body{
    background-color: darkgrey;
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Sans Unicode";
}
.nav{
    width: 20%;
    text-align: center;
    height: 2000px;
    position: fixed;
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
}
.content {
    width: 80%;
    float: right;
    background-color: grey;
}
.logo > a > img{
    max-width: 60%;
    margin: 20%;
    margin-top: 80%;
}
ol{
    list-style: none;
    padding:0%;
}
td{
    width: 33%;
}
img {
    max-width: 100%;
}
form {
    margin: 33%;
    text-align: center;
}

.gallery{
    width: 100%;
    object-fit: cover;
}

.gallery > img {
    width:31%;
    padding: 1%;
}